

.callout{
display: flex;
justify-content: center;
align-items:center; 
margin: 20px;
padding: 20px;
}


.quote-heading{
color: #2A2A2A;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: 50.4px; 
margin-right: 240px;
}


.companies-container{
    background-color:  #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
    margin-top: 50px;
}
