.footer-container {
    display: flex;
    height: auto;
    width: 100%;
  }
  
  .footer-left-container {
    display: flex;
    flex-direction: column;
    background-color: #FFB400;
    width: 50%;
  

  }


  .FooterMiniContainer{
    padding: 90px;
  }

 .footer-heading-container{
  display: block;
  margin-bottom: 60px; 

 } 


  .footer-heading-container::after {
    content: "";
    background: #2A2A2A;
    display: block;
    height: 7px;
    width: 7%;
  }



  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container{
    flex: 1;
    display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   margin-top: 15px;
  } 
 

  .footer-heading{
    font-size: 50px;
    
    font-style: normal;
    font-weight: 800;
    color : #2A2A2A;
  }

  .footerInputContainer{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
  }


  .footer-input-left{
    width: 100%;
    padding: 13px 18px;
    height: 65px;
    border-width: 0px; 
    margin-right: 20px ;
}
  .footer-input-right{
    width: 100%;
    padding: 13px 18px;
    height: 65px;
    border-width: 0px; 
  }



  .footer-text-area{
  display: flex;
  width: 100%;
  height: 160px;
  padding: 13px 18px;
  border-width: 0px;
  }

  .footer-right-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .top-section{
    display: flex;
    flex: 1;
    background-color: #2A2A2A;
    justify-content: center;
    align-items: center;

  }

  .socialIcon{
    width: 26px;
    height: 26px;
    margin-right: 35px;
    margin-left: 35px;

  }


  .bottom-section{
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    
  }
  
  .informationContainer{
    margin-top: 50px;
  }


  .informarion{
font-size: 18px;
font-weight: 700;
line-height: 50px;
  }


.pinicon{
  width: 13px;
  height: 19px;
  margin-right: 15px;
}  


.phoneicon{
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.mailicon{
  width: 24px;
  height: 24px;
  margin-right: 15px;
}






@media (max-width: 425px) {
.footerInputContainer{
  display: flex;
  flex-direction: column;
  

}

.FooterMiniContainer{
  padding-top: 10px;
}

.footer-input-left{
  margin-bottom: 5px ;
  height: 45px;
}

.footer-input-right{
  height: 45px;
}

.footer-text-area{
  height: 100px;
}

.footer-heading{
  font-size: 40px;
}

.footer-heading-container{
  margin-bottom: 30px; 

 } 

 .informarion{
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
    } 


}

@media (max-width: 576px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    height: auto;
 }

 .FooterMiniContainer{
   padding: 30px;
 }

.informationContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bottom-section{

  margin-left: 65px;
  
}

}

@media (max-width: 768px) {
    .footer-container {
       display: flex;
       flex-direction: column;
       height: auto;
    }
   


  .footer-left-container {
      height: 500px;
      width: 100%;
  }  

  .footer-right-container {
    height: 500px;
    width: 100%;
}  

.FooterMiniContainer{
  padding: 70px;
  padding-top: 10px;
}

  }


@media (max-width: 992px) {
  .FooterMiniContainer{
    padding: 50px;
    padding-top: 20px;
   
  }

  .bottom-section{

    margin-left: 100px;
    
  } 
}

